[client]
#password       = your_password
port            = 3306
socket          = /var/slog/mysql/data/mysql.sock

[mysqld]
port            = 3306
socket          = /var/slog/mysql/data/mysql.sock
skip-external-locking
skip-name-resolve
key_buffer_size = 1024M
max_allowed_packet = 32M
table_open_cache = 256
sort_buffer_size = 4M
read_buffer_size = 4M
read_rnd_buffer_size = 4M
myisam_sort_buffer_size = 64M
thread_cache_size = 32 
query_cache_size = 0
max_heap_table_size = 1024M

# Try number of CPU's*2 for thread_concurrency
thread_concurrency = 16
datadir = /var/slog/mysql/data
basedir = /webnew/mysql
tmp_table_size = 1024M
max_connections = 4000
#max_connect_errors = 10000000
wait_timeout = 1000
back_log = 4000
#skip-networking

log_slow_queries
long_query_time = 2
slow-query-log = /var/slog/mysql/mysql-query.log
log-error = /var/slog/mysql/error.log
#relay-log=/var/slog/mysql/relay/relay.log
#relay-log-index = /var/slog/mysql/relay/relay-index

log-bin = mysql-bin
log-bin-index = master-bin.index
server-id = 188

binlog-do-db = web_passport 

binlog-ignore-db = mysql

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash
#safe-updates

[myisamchk]
key_buffer_size = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout