SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root
HOME=/

# run-parts
01 * * * * root run-parts /etc/cron.hourly
02 4 * * * root run-parts /etc/cron.daily
22 4 * * 0 root run-parts /etc/cron.weekly
42 4 1 * * root run-parts /etc/cron.monthly

00 00 * * * root /root/bin/bakdatabase.sh
00 00 * * * root /usr/sbin/ntpdate 210.72.145.44
00 2 * * * root rsync -zvRrtopg --delete daemon@192.168.1.185::bak /var/bak/185bak/ >> /var/bak/185bak/data.txt
*/5 * * * * root /root/bin/rsync.sh
SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root
HOME=/

# run-parts
01 * * * * root run-parts /etc/cron.hourly
02 4 * * * root run-parts /etc/cron.daily
22 4 * * 0 root run-parts /etc/cron.weekly
42 4 1 * * root run-parts /etc/cron.monthly

#*/10 * * * * root /root/bin/rizhi.sh
00 00 * * * root /root/bin/cut_nginx.sh
00 1 * * * root /root/bin/bakdatabase.sh
00 00 * * * root /usr/sbin/ntpdate 210.72.145.44
00 2 * * * root rsync -zvRrtopg --delete daemon@192.168.1.188::bak /var/bak/188bak/ >> /var/bak/188bak/data.txt
8  * * * * root /root/bin/rsync.sh
